//Variables
$fs-dark:rgba(27,49,106,.5);
$col-gap: 5px;
$row-gap: 10px;
$cols: 12;
$mar20: 20px;

.neu-grid-parent {
  display: grid;
  margin: $mar20;
  grid-gap: $row-gap;
}

@for $i from 1 through $cols {
  .col-fr-#{$i} {grid-template-columns: repeat($i, 1fr)}
}

@for $i from 1 through $cols {
  .fr-#{$i} {columns: $i+0fr}
}